<p>
<blockquote>
    Unicode provides a unique number for every character,<br>
    no matter what the platform,<br>
    no matter what the program,<br>
    no matter what the language.<br>
</blockquote>
</p>
<p><span style='font-size: 43pt; font-weight: bold'>Use Unicode or DIE</span></p>
<p>Don't know what is it? <a href="http://www.unicode.org/standard/WhatIsUnicode.html">RTFM!</a></p>

